{% assign seo_url = site.url | append: site.baseurl %}
{% assign canonical_url = page.url | prepend: seo_url | replace: "/index.html", "/" %}
{% if page.browser_title %}
  {% assign seo_title = page.browser_title %}
{% elsif page.title %}
  {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
{% else %}
  {% assign seo_title = site.title %}
{% endif %}
{% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% assign seo_description = page.description | default: page.excerpt | default: site.description | markdownify | strip_html | strip_newlines | escape_once %}

<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}">
<link rel="canonical" href="{{ canonical_url | escape }}">
{% if page.date and page.date_precision != "year" and page.publication_status != "submitted" %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if site.social %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": {{ site.social.type | default: "Person" | jsonify }},
      "name": {{ site.social.name | default: site.name | jsonify }},
      "url": {{ seo_url | jsonify }}{% if site.social.links and site.social.links.size > 0 %},
      "sameAs": {{ site.social.links | jsonify }}{% endif %}
    }
  </script>
{% endif %}

{% assign og_locale = page.lang | default: site.locale %}
{% if og_locale == "en" %}{% assign og_locale = site.locale %}{% endif %}
<meta property="og:locale" content="{{ og_locale | replace: "-", "_" }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ canonical_url | escape }}">
