/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include clearfix;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 3rem;
}

.page {
  .page__inner-wrap {
    width: 100%;
    display: flow-root;

    .page__content,
    .page__meta {
      width: 100%;
      display: flow-root;
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}


.page__content {

  h2 {
    margin: var(--editorial-section-gap) 0 var(--editorial-heading-gap);
  }

  p, li, dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

  }


  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  color: var(--global-text-color-light);
  font-family: $sans-serif;
  font-size: 0.8125rem;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}
